node_modules/
.next/
dist/
coverage/
.env
.DS_Store
tmp/
*.log
bin/
*.tsbuildinfo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
*.pem
*.key
*.crt
*.json

# Ignore all files in the public directory except for the ones we need
/public/*
!/public/favicon.ico
!/public/manifest.json      


