node_modules/
.next/
dist/
coverage/
.env
.env.*
!.env.example
!**/.env.example
.dev-secrets
.DS_Store
tmp/
*.log
bin/
*.tsbuildinfo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.pem
*.key
*.crt
*.json
!deployments/*.json
!**/vercel.json
!**/components.json
!docs/apple-app-site-association.example.json

# Ignore all files in the public directory except for the ones we need
/public/*
!/public/favicon.ico
!/public/manifest.json      
