<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key><string>OneShot</string>
	<key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key><true/>
	<key>NSAppClip</key><dict><key>NSAppClipRequestEphemeralUserNotification</key><false/></dict>
	<key>NSCameraUsageDescription</key><string>Use your camera to capture a photo for this event.</string>
	<key>NSPhotoLibraryUsageDescription</key><string>Choose a photo to share with this event.</string>
	<key>UIApplicationSceneManifest</key><dict><key>UIApplicationSupportsMultipleScenes</key><false/></dict>
	<key>UILaunchScreen</key><dict/>
	<key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
	<key>AppClipAssociatedDomain</key><string>$(APP_CLIP_ASSOCIATED_DOMAIN)</string>
	<key>AppClipTestMode</key><string>$(APP_CLIP_TEST_MODE)</string>
</dict>
</plist>
